*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #000;
    color: #fff;
}

.header{
    width: 100%;
    height: 100hv;
}

.container{
padding: 1px 5%;
}

/****Toggles****/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 150px;
    height: 100px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: blueviolet;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.6s;
    
}

nav ul li a:hover::after{
    width: 100%;
}

/****Home Page****/

.header-text h2{
    font-size: 28px;
    margin: 15px 0;
}

.header-text h2 span{
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: blueviolet;
}

.header-text p{
    margin-bottom: 70px;
    font-size: 20px;
    color: #a1a0a0;
}

.wrapper{
    display: inline-flex;
}

.wrapper .static{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}

.wrapper .dynamic{
    font-size: 30px;
    font-weight: 700;
    color: #8a2be2;
    margin-left: 12px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.dynamic li{
    font-family: 'Clicker Script', cursive;
    list-style: none;
    position: relative;
}

.dynamic li::after{
content: '';
position: absolute;
left: 0;
height: 100%;
width: 100%;
background: #000;
border-left: 2px solid #8a2be2;
animation: typing 1.5s steps(20) infinite;
}

@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 35px;
    }
}

p{
    font-size: 15px;
}

/****About page****/

#about{
    padding: 80px;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width:60%;
    border: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title {
    font-size: 50px;
    font-weight: 600;
    color: #8a2be2;
    font-family: 'Clicker Script', cursive;
}

.tab-titles{
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 0;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    font-family: 'Clicker Script', cursive;
}

.tab-links::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #8a2be2;
    position: absolute;
    left: 0;
    top: 30px;
}

.tab-links::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 20px 5px;   
}

.tab-contents ul li span{
    color: #8a2be2;
    font-size: 15px;
    font-family: 'Clicker Script', cursive;
    font-size: 18px;
}

/****Services****/

#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #1b1b1b;
    padding: 38px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #8a2be2;
    transform: translateY(-10px);
}

/****Portfolio****/

#portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.3),#8a2be2);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    transition:height 0.5s;
}

.layer h3{
    font-weight: 900;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #8a2be2;
    text-decoration: none;
    font-size: 25px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 3px solid #8a2be2;
    padding: 14px 50px;
    border-radius: 7px;
    text-decoration: none;
    color: #fff;
    background: #000;
    transition: background 0.5s;
}

.btn:hover{
    background: #8a2be2;
}

/****Contact****/

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #8a2be2;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #404040;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #8a2be2;
    transform: translateY(-5px);
}

.btn btn2{
    display: inline-block;
    background: #8a2be2;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #343434;
    padding: 15px;
    margin: 15px;
    color: #a4a3a3;
    font-size: 18px;
    border-radius: 5px;
}

form .btn{
    font-size: 18px;
    padding: 10px 80px;
    cursor: pointer;
    margin: 20px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    font-weight: 500;
    margin-top: 20px;
    color: #a4a3a3;
}

.copyright i{
    color: #8a2be2;
}

/****screen width****/

nav .fa{
    display: none;
}

@media only screen and (max-width: 600px){
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    .sub-title{
        font-size: 50px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 18px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}

#mes{
    color: #61b752;
    margin-top: -15px;
    display: block;
}
    